{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<div>
    <div class="column" style="background-color:#aaa;">
        <h2>Aprēķinu kalkulātori:</h2>
        <li class="left-align"><a href="/jauda">Jaudas aprēķins</a></li>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Konvertāciju kalkulātori:</h2>
        <li class="left-align"><a href="/garums">Garuma konvertācijas</a></li>
    </div>
</div>    

<script src="scripts.js"></script>

{% endblock %}