<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primus ES: Gaismekļi</title>
    <link rel="stylesheet" href="static/styles.css">
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
      }
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <h1>Dažāu tipu E27 spuldžu jaudas salīdzinājuma tabula</h1>
    <table>
      <thead>
        <tr>
          <th>Gaismas plūsma (lm)</th>
          <th>Kvēlspuldze</th>
          <th>Halogēna</th>
          <th>Luminiscences</th>
          <th>Gaismas diožu</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>250</td>
          <td>25 W</td>
          <td>18 W</td>
          <td>6 W</td>
          <td>3-4 W</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>450</td>
          <td>40 W</td>
          <td>28 W</td>
          <td>9 W</td>
          <td>5-6 W</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>800</td>
          <td>60 W</td>
          <td>42 W</td>
          <td>13 W</td>
          <td>8-10 W</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1100</td>
          <td>75 W</td>
          <td>53 W</td>
          <td>16 W</td>
          <td>10-13 W</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>1600</td>
          <td>100 W</td>
          <td>72 W</td>
          <td>20 W</td>
          <td>13-17 W</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td></td>
          <td><img src="images/kvelspuldze.png" style="width:100px; height: auto;"></td>
          <td><img src="images/halogena.png" style="width:100px; height: auto;"></td>
          <td><img src="images/luminiscences.png" style="width:70px; height: auto;"></td>
          <td><img src="images/led.png" style="width:100px; height: auto;"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>